In [2]:
#import numpy libraries


import numpy as np

In [3]:
#!pip install numpy

In [ ]:
Scalar, vector matrix

In [15]:
num = 23   # scalar

vector = np.array([1,2,34,5])
vector

array([ 1,  2, 34,  5])

In [7]:
type(vector)

numpy.ndarray

In [12]:
list1 = [3,7,4,6,5]
list1

[3, 7, 4, 6, 5]

In [9]:
type(list1)

list

In [10]:
listarray = np.array([list1])

In [11]:
listarray

array([[3, 7, 4, 6, 5]])

In [13]:
listarray * 4   # vector multiply scalar

array([[12, 28, 16, 24, 20]])

In [14]:
list1 * 4

[3, 7, 4, 6, 5, 3, 7, 4, 6, 5, 3, 7, 4, 6, 5, 3, 7, 4, 6, 5]

In [18]:
a =  np.array([[8,5,6,8],[7,8,4,7] ])

In [19]:
a

array([[8, 5, 6, 8],
       [7, 8, 4, 7]])

In [20]:
a * 2

array([[16, 10, 12, 16],
       [14, 16,  8, 14]])

In [23]:
#arange 

num2 = np.arange(0,20,2)

num2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [25]:
 vars = range(0,20,2)

range(0, 20, 2)

In [30]:
np.zeros((5,5) )

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [31]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [32]:
C = np.array([[-12,5,-5,1,6],[6,-2,0,0,-3],[10,2,0,8,0],[9,-4,8,3,-6]])
C

array([[-12,   5,  -5,   1,   6],
       [  6,  -2,   0,   0,  -3],
       [ 10,   2,   0,   8,   0],
       [  9,  -4,   8,   3,  -6]])

In [34]:
C.shape

(4, 5)

In [39]:
#slicing

C[0:2,0:2]

array([[-12,   5],
       [  6,  -2]])

In [40]:
C

array([[-12,   5,  -5,   1,   6],
       [  6,  -2,   0,   0,  -3],
       [ 10,   2,   0,   8,   0],
       [  9,  -4,   8,   3,  -6]])

In [48]:
C[1:4,2:5]

array([[ 0,  0, -3],
       [ 0,  8,  0],
       [ 8,  3, -6]])

In [51]:
C[1:3,1:3] * 4  # victor

array([[-8,  0],
       [ 8,  0]])

In [49]:
C[1:3,1:3]   # omoh

array([[-2,  0],
       [ 2,  0]])

In [1]:
import numpy as np

In [2]:
arr4 = np.array([4,5,3,2,5,7,2,465,13,464,2,6])

In [3]:
arr4

array([  4,   5,   3,   2,   5,   7,   2, 465,  13, 464,   2,   6])

In [4]:
arr4.reshape(6,2)

array([[  4,   5],
       [  3,   2],
       [  5,   7],
       [  2, 465],
       [ 13, 464],
       [  2,   6]])

In [5]:
arr4.reshape(2,6)

array([[  4,   5,   3,   2,   5,   7],
       [  2, 465,  13, 464,   2,   6]])

In [6]:
arr4.reshape(3,4)

array([[  4,   5,   3,   2],
       [  5,   7,   2, 465],
       [ 13, 464,   2,   6]])

In [7]:
arr4.reshape(3,5)

ValueError: cannot reshape array of size 12 into shape (3,5)

In [8]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [12]:
np.arange(1,13)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [13]:
np.arange(1,13).reshape(4,3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [14]:
num_details = np.arange(1,13).reshape(4,3)

In [18]:
num_details[1:3,1:3]

array([[5, 6],
       [8, 9]])

In [20]:
print(num_details.max())
print(num_details.min())

12
1

In [21]:
arr10 = np.array([[23,12,56,34,23],[45,67,34,10,101],[13,10,24,87,56],
                 [1,2,3,4,5],[100,99,98,97,96]])

arr10

array([[ 23,  12,  56,  34,  23],
       [ 45,  67,  34,  10, 101],
       [ 13,  10,  24,  87,  56],
       [  1,   2,   3,   4,   5],
       [100,  99,  98,  97,  96]])

In [22]:
np.diag(arr10)

array([23, 67, 24,  4, 96])

FANCY INDEXING

In [23]:
arr14 = np.zeros((7,7))

arr14

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [32]:
for i in range(len(arr14)):
    arr14[i] = i

In [30]:
arr14

array([[0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 1., 1., 1.],
       [2., 2., 2., 2., 2., 2., 2.],
       [3., 3., 3., 3., 3., 3., 3.],
       [4., 4., 4., 4., 4., 4., 4.],
       [5., 5., 5., 5., 5., 5., 5.],
       [6., 6., 6., 6., 6., 6., 6.]])

In [35]:
arr17 = np.array([9,16,25,36,49,64])
print(np.sqrt(arr17))
print(np.exp(arr17))
print(np.log(arr17))
print(np.sin(arr17))
print(np.cos(arr17))
print(np.tan(arr17))

[3. 4. 5. 6. 7. 8.]
[8.10308393e+03 8.88611052e+06 7.20048993e+10 4.31123155e+15
 1.90734657e+21 6.23514908e+27]
[2.19722458 2.77258872 3.21887582 3.58351894 3.8918203  4.15888308]
[ 0.41211849 -0.28790332 -0.13235175 -0.99177885 -0.95375265  0.92002604]
[-0.91113026 -0.95765948  0.99120281 -0.12796369  0.30059254  0.39185723]
[-0.45231566  0.30063224 -0.13352641  7.75047091 -3.17290855  2.34786031]

In [38]:
print(np.sin(30) * np.pi / 100)

-0.03103992891764527

In [37]:
print(np.sin(60))

-0.3048106211022167

In [39]:
np.sin(np.array((0., 30., 45., 60., 90.)) * np.pi / 180. )

array([0.        , 0.5       , 0.70710678, 0.8660254 , 1.        ])

In [40]:
np.sin(np.array((0., 30., 45., 60., 90.)) * np.pi / 180. )

array([0.        , 0.5       , 0.70710678, 0.8660254 , 1.        ])

In [41]:
import numpy as np
import pandas as pd

In [43]:
#Series 

# Series is a one-dimensional array like structure with homogeneous data.

#DataFrame   
# DataFrame is a two-dimensional array with heterogeneous data. 

#Panel

#Panel is a three-dimensional data structure with heterogeneous data. 
#It is hard to represent the panel in graphical representation. 

#But a panel can be illustrated as a container of DataFrame.

In [44]:
ser1 = pd.Series([10,20,30,40,50])
print(type(ser1))
ser2 = pd.Series((76,78,87,98))
ser3 = pd.Series(np.array([12,31,321,434,54,32]))

<class 'pandas.core.series.Series'>

In [45]:
ser1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [46]:
ser1[1]

20

In [47]:
ser3

0     12
1     31
2    321
3    434
4     54
5     32
dtype: int32

In [48]:
dict1 = {'a':1,'b':2,'c':3,'d':4}
ser4 = pd.Series(dict1)

In [49]:
ser4

a    1
b    2
c    3
d    4
dtype: int64

In [51]:
ser4['a']

1

In [52]:
ser5 = pd.Series([12,98,15,91,18,89],index=['a','b','c','d','e','f'])

In [53]:
ser5

a    12
b    98
c    15
d    91
e    18
f    89
dtype: int64

In [54]:
ser6 = pd.Series(index=['a','b','c','d','e','f'], [12,98,15,91,18,89])   # its mot define in pandas Series

SyntaxError: positional argument follows keyword argument (1382035799.py, line 1)

# DataFrame

In [55]:
df = pd.DataFrame([[1,2,3],[4,5,6]])

In [56]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [57]:
df.shape

(2, 3)

In [58]:
my_list = [['apple','sweet',100],['grapes','sour',80],['orange','tangy',60]]
df2 = pd.DataFrame(my_list,columns=['fruit','taste','price'])
df2

    fruit  taste  price
0   apple  sweet    100
1  grapes   sour     80
2  orange  tangy     60

In [59]:
my_dict = {'Name':['Steph','Victor','Omoh'],'class':[7,8,9],'blood_group':['A+','B+','A+']}
df3 = pd.DataFrame(my_dict)
df3

     Name  class blood_group
0   Steph      7          A+
1  Victor      8          B+
2    Omoh      9          A+

In [61]:
df3['Name']

0     Steph
1    Victor
2      Omoh
Name: Name, dtype: object

In [66]:
df3.iloc[:2]

     Name  class blood_group
0   Steph      7          A+
1  Victor      8          B+

In [67]:
#seaborn is a data visualization tool
#!pip install seaborn
import seaborn as sn   # we are importing seaborn to be able to access the sample data sets in the library

In [68]:
sn.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [69]:
dataset = sn.load_dataset('iris')

In [70]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [71]:
# Loading the diamonds data  

df1= sn.load_dataset('diamonds')
df1

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [78]:
# Loading the titanic data  

df2= sn.load_dataset('titanic')
df2

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [82]:
df2.to_csv('victor.csv')

In [83]:
pwd

'C:\\Users\\Guest Pc\\Documents\\data science'

In [84]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8681-DB28

 Directory of C:\Users\Guest Pc\Documents\data science

06/16/2023  01:06 PM    <DIR>          .
06/16/2023  01:06 PM    <DIR>          ..
06/14/2023  11:49 AM    <DIR>          .ipynb_checkpoints
06/16/2023  01:02 PM            64,891 numpy_june_class.ipynb
06/16/2023  12:24 PM    <DIR>          python
06/16/2023  10:58 AM           107,478 python class.ipynb
06/14/2023  11:48 AM            57,578 python_class_june_2.ipynb
06/16/2023  01:05 PM            61,365 titanic.csv
06/16/2023  01:06 PM            61,365 victor.csv
               5 File(s)        352,677 bytes
               4 Dir(s)  27,166,494,720 bytes free