# What is Jupyter Notebook

The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that integrate live code, equations, computational output, visualizations, and other multimedia resources,

Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.

## DATA SCIENCE
### DATA SCIENCE
#### DATA SCIENCE
##### DATA SCIENCE

# Keywords
Keywords in python are reserved words in python and cant be used as identifiers.

In [2]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# VARIABLES

A Python variable is a reserved memory location to store values.A variable is created the moment you first assign a value to it.

In [4]:
Student_name = 'Victor'

hsdhgds  = 56

In [5]:
hsdhgds

56

In [6]:
studAge = 45  # camel case naming convention

Studage = 34   # pascal case naming

stud_age_num = 23   #   snake case

In [9]:
 # wrong using symbol in naming a variables

$myclass  = 'DSA'

@myage1 = 20

SyntaxError: invalid syntax (1561547494.py, line 3)

In [10]:
intvar, floatvar, strvar = 20, 34.66, "Python Programming lang", 'Brown'

ValueError: too many values to unpack (expected 3)

In [16]:
intvar, floatvar, strvar = 20, 34.66, "Python Programming lang"  # multivariable assignment

In [17]:
intvar

20

In [18]:
intvar = 90

In [19]:
intvar

90

In [20]:
myname = "VICTOR EKEZIE"

In [21]:
myname

'VICTOR EKEZIE'

# STRING SLICING

In [22]:
myname

'VICTOR EKEZIE'

In [28]:
myname[8:11]

'KEZ'

In [29]:
len(myname)

13

In [36]:
myname[:12]

'VICTOR EKEZI'

In [37]:
myname[-1]

'E'

In [38]:
s1 = 'Data'
s2 = "Science"

In [41]:
#string   concatenation


s3 = s1 +' '+ s2

In [42]:
s3

'Data Science'

# Python Format

In [1]:
# format()

a = 'Apple'
b = 'Banana'
c =  'Cat'

print('this  is {}, this is {}, and this is {}'.format(a,b,c))

this  is Apple, this is Banana, and this is Cat

In [2]:
print('this  is {0}, this is {2}, and this is {1}'.format(a,b,c))

this  is Apple, this is Cat, and this is Banana

# OPERATORS

In [3]:
#Arithmatic operators

num1 = 10
num2 = 7

In [4]:
num1

10

In [5]:
num2

7

In [6]:
print('Addition of num1 and num2 {}'.format(num1 + num2))
print('Subtraction of num1 and num2 {}'.format(num1 - num2))
print('Multiplication of num1 and num2 {}'.format(num1 * num2))
print('Division of num1 and num2 {}'.format(num1 / num2))
print('Floor Division of num1 and num2 {}'.format(num1 // num2))
print('Modulos of num1 and num2 {}'.format(num1 % num2))
print('num2 raised to the power of two is {}'.format( num2** 2))

Addition of num1 and num2 17
Subtraction of num1 and num2 3
Multiplication of num1 and num2 70
Division of num1 and num2 1.4285714285714286
Floor Division of num1 and num2 1
Modulos of num1 and num2 3
num2 raised to the power of two is 49

# Comparison OperatorsÂ¶

In [7]:
x  = 20
y  = 30

print('Is  x  greater  than  y  :-  ',x>y) 
print('Is  x  less  than    y  :-  ',x<y) 
print('Is  x  equal  to    y  :-  ',x==y)
print('Is  x  not  equal  to  y  :-  ',x!=y)
print('Is  x  greater  than  or  equal  to  y  :-  ',x>=y)
print('Is  x  less  than  or  equal  to  y  :-  ',x<=y)

Is  x  greater  than  y  :-   False
Is  x  less  than    y  :-   True
Is  x  equal  to    y  :-   False
Is  x  not  equal  to  y  :-   True
Is  x  greater  than  or  equal  to  y  :-   False
Is  x  less  than  or  equal  to  y  :-   True

# Logical Operators

In [8]:
x = True
y = False

print('Logical  AND  operation  :-  ',x  and  y)  #  True  if  both  values  are  true
print('Logical  OR  operation  :-  ',x  or  y)  #  True  if  either  of  the  values  is  true
print('NOT  operation  :-  ',not  y  )  #  True  if  operand  is  false

Logical  AND  operation  :-   False
Logical  OR  operation  :-   True
NOT  operation  :-   True

# CONDITIONAL STATEMENT

the conditional statement we have in python are :> if elif else

A Python if statement evaluates whether a condition is equal to true or false.

The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

In [9]:
x = 5

if x == 5:
    print('the if statement is true')

the if statement is true

In [10]:
x = 5

if x == 3:
    print('the if statement is true')

In [11]:
x = 5

if x == 3:
    print('the if statement is true')
else:
    print('the if block is False')

the if block is False

In [13]:
b = 23 

if b < 20:
    print('b is a small number')
elif (b == 23):
    print('this is the actual result')
else:
    print('you are wrong')
print('we are out of if block')

this is the actual result
we are out of if block

# input function

In [16]:
m = input('Enter a number :')

Enter a number :

In [18]:
m = int(input('Enter a number :') )

if m < 20:
    print('m is a small number')
elif (m == 23):
    print('this is the actual result')
else:
    print('you are wrong')
print('we are out of if block')

Enter a number :15
m is a small number
we are out of if block

In [19]:
#  Nested if statement

i = 2

if (i > 0):
    print('this is a first if block')
    if (i <= 5):
        print('this is a nested if statement')
        if(i > 5):
            print('this is the third if block')
        else:
            print('end of the block')
else:
    print('number is out of range')
print('we are out of if block')

this is a first if block
this is a nested if statement
end of the block
we are out of if block

# DATA STRUCTURE OR PYTHON CONTAINERS

There are 4 major data structure in python

1)List

2)Tuple

3)Dictonary

4)Sets

# LIST

In [20]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, True, 34.5 ];
list3 = ["a", "b", "c", "d"]

In [21]:
list1

['physics', 'chemistry', 1997, 2000]

In [22]:
list2

[1, 2, 3, 4, 5, True, 34.5]

In [23]:
# list constructor

lst = list([1,2,3,4,5,6])

In [24]:
lst

[1, 2, 3, 4, 5, 6]

In [25]:
list1

['physics', 'chemistry', 1997, 2000]

In [26]:
list1[1]

'chemistry'

In [27]:
list1.append('data')

In [28]:
list1

['physics', 'chemistry', 1997, 2000, 'data']

In [29]:
list1.insert(2, "Omoh")

In [30]:
list1

['physics', 'chemistry', 'Omoh', 1997, 2000, 'data']

In [31]:
list6 = [100,120,125,123,99,64,58,85,89,63]

In [32]:
list6

[100, 120, 125, 123, 99, 64, 58, 85, 89, 63]

In [33]:
list6.pop()

63

In [34]:
list6

[100, 120, 125, 123, 99, 64, 58, 85, 89]

In [35]:
list6.extend(list1)

In [36]:
list6

[100,
 120,
 125,
 123,
 99,
 64,
 58,
 85,
 89,
 'physics',
 'chemistry',
 'Omoh',
 1997,
 2000,
 'data']

In [38]:
type(list6)

list

In [39]:
if 'Omoh' in list6:
    print('Omoh is in the list')
else:
    print('there is no march')

Omoh is in the list

# TUPLES

A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [40]:
tuples = () # perenthesis

In [41]:
tup2  =  (10,30,60)	#  tuple  of  integers  numbers
tup3 = (10.77,30.66,60.89)	# tuple of float numbers
tup4 =  ('one','two' , "three")	# tuple of strings
tup5  =  ('Data',  25  ,(50,  100),(150,  90))	#  Nested  tuples
tup6  =  (100,  'Data',  17.765)	#  Tuple  of  mixed  data  types
tup7  =  ('Data',  25  ,[50,  100],[150,  90]  ,  {'John'  ,  'David'}  , 
          (99,22,33))    # tuples of mixed containers

In [42]:
print(tup2)
print(tup3)
print(tup4)
print(tup5)
print(tup6)
print(tup7)

(10, 30, 60)
(10.77, 30.66, 60.89)
('one', 'two', 'three')
('Data', 25, (50, 100), (150, 90))
(100, 'Data', 17.765)
('Data', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [43]:
tup7

('Data', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [44]:
tup7[1]

25

In [45]:
len(tup7)

6

In [46]:
tup7[4]

{'David', 'John'}

In [48]:
tup7[5][1]

22

In [49]:
tup6

(100, 'Data', 17.765)

In [50]:
del  tup6# global python key word

In [51]:
tup6

NameError: name 'tup6' is not defined

In [53]:
print(tup3)

(10.77, 30.66, 60.89)

In [54]:
tup3.append(34)

AttributeError: 'tuple' object has no attribute 'append'

In [55]:
tup3

(10.77, 30.66, 60.89)

In [56]:
new_list_tup = list(tup3)

In [57]:
new_list_tup

[10.77, 30.66, 60.89]

In [58]:
new_list_tup.append(34)

In [59]:
new_list_tup

[10.77, 30.66, 60.89, 34]

In [60]:
tup_convert = tuple(new_list_tup)

In [61]:
tup_convert

(10.77, 30.66, 60.89, 34)

# SET

Mathematically a set is a collection of items not in any particular order. A Python set is similar to this mathematical definition with below additional conditions.

The elements in the set cannot be duplicates.

The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.

There is no index attached to any element in a python set. So they do not support any indexing or slicing operation.

In [1]:
myset = set() # objects of a set

In [2]:
type(myset)

set

In [3]:
myset = {1,2,3,4,5,6,7}

In [4]:
myset

{1, 2, 3, 4, 5, 6, 7}

In [5]:
len(myset)

7

In [6]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset2 = {'Data' , 'John' , 'Tyrion'} # Set of Strings
myset3  =  {10,20,  "Hola",  (11,  22,  32)}  #  Mixed  datatypes

In [8]:
print(myset1)
print(myset2)
print(myset3)

{1.79, 2.08, 3.99, 4.56, 5.45}
{'Data', 'Tyrion', 'John'}
{(11, 22, 32), 10, 20, 'Hola'}

In [9]:
# set member

new_set = {'one','two', 'three','four','five'}

In [10]:
if 'two' in new_set:
    print('this is correct')
else:
    print('this is wrong')

this is correct

ADD , REMOVE ITEMS IN A SET

In [11]:
myset

{1, 2, 3, 4, 5, 6, 7}

In [12]:
myset.add(34)

In [14]:
myset

{1, 2, 3, 4, 5, 6, 7, 34}

In [15]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}
C  =  {8,9,10}

In [16]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
A | B | C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
# intersection

A.intersection(B)

{4, 5}

In [19]:
B.difference(A)

{6, 7, 8}

# DICTIONARY

Dictionary is a mutable data type in Python. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}. Keys must be unique in a dictionary, duplicate values are allowed

In [21]:
# dictionary creation

mydict = dict()

mydict

{}

{key1: values1, key2: values2}

In [22]:
newdict  = {'name': 'Omoh', 'age':20, 'department':'Data Science'}

In [23]:
newdict

{'name': 'Omoh', 'age': 20, 'department': 'Data Science'}

In [24]:
newdict.keys()

dict_keys(['name', 'age', 'department'])

In [25]:
newdict.values()

dict_values(['Omoh', 20, 'Data Science'])

In [53]:
newdict['name']

'Omoh'

In [54]:
newdict['price'] = 250000

In [55]:
newdict

{'name': 'Omoh', 'age': 20, 'department': 'Data Science', 'price': 250000}

# PYTHON LOOP STATEMENT

In [27]:
# while and for loop

WHILE LOOP

In [28]:
i = 1
while i < 20:
    print('data science class')
    i = i + 1

data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class
data science class

In [30]:
# BREAK 

i = 1

while i < 6:
    if i ==3:
        break
    print(i)
    i = i +1

1
2

In [31]:
b =  0

while b < 6:
    b +=1   #increamentation
    if b == 3:
        continue
    print(b)

1
2
4
5
6

FOR LOOP

In [32]:
loop1 = [12,2,3,44,5,5,65,6]


for i in loop1:
    print(i)

12
2
3
44
5
5
65
6

In [33]:
for m in range(0,10):
    print(m)

0
1
2
3
4
5
6
7
8
9

In [34]:
for m in range(0,10):
    if (m%2 == 0):
        print('EVEN')
    else:
        print('ODD')

EVEN
ODD
EVEN
ODD
EVEN
ODD
EVEN
ODD
EVEN
ODD

In [41]:
even = []
odd = []

for m in range(0,20,3):
    if (m%2 == 0):
        even.append(m)
    else:
        odd.append(m)

In [42]:
even

[0, 6, 12, 18]

In [43]:
odd

[3, 9, 15]

In [44]:
savAcctList = ['Kenneth', 'Stella', 'Mercy', 'Chizulum', 'Clifford', 'Boniface', 'Tosin']
AcctBals = [2335,546,9086,75,7896,356,32678]
acctType = ['Curr', 'Sav','Curr','Inv','Curr','Sav','Inv']
numYearsOperated  = [5,23,12,2,5,7,8]

In [45]:
for customer, balance, accountType, numyears in zip(savAcctList, AcctBals,acctType,numYearsOperated):
    print(customer, balance, accountType, numyears)

Kenneth 2335 Curr 5
Stella 546 Sav 23
Mercy 9086 Curr 12
Chizulum 75 Inv 2
Clifford 7896 Curr 5
Boniface 356 Sav 7
Tosin 32678 Inv 8

In [52]:
for customer, balance, types, numyears in zip(savAcctList, AcctBals,acctType,numYearsOperated):
    #print(customer, balance, accountType, numyears)
    
    cust_dict = {}
    # adding items into a dictionary
    cust_dict['accountType'] = types
    cust_dict['balance'] = balance
    cust_dict['numyears'] = numyears


    print(cust_dict)

{'accountType': 'Curr', 'balance': 2335, 'numyears': 5}
{'accountType': 'Sav', 'balance': 546, 'numyears': 23}
{'accountType': 'Curr', 'balance': 9086, 'numyears': 12}
{'accountType': 'Inv', 'balance': 75, 'numyears': 2}
{'accountType': 'Curr', 'balance': 7896, 'numyears': 5}
{'accountType': 'Sav', 'balance': 356, 'numyears': 7}
{'accountType': 'Inv', 'balance': 32678, 'numyears': 8}

In [61]:
# Nested dictionary

bankRecDict = dict()

for customer, balance, accountType, numyears in zip(savAcctList, AcctBals,acctType,numYearsOperated):
    #print(customer, balance, accountType, numyears)
    
    cust_dict = {}
    # adding items into a dictionary
    cust_dict['accountType'] = accountType
    cust_dict['balance'] = balance
    cust_dict['numyears'] = numyears
    
    bankRecDict[customer] = cust_dict

In [62]:
bankRecDict

{'Kenneth': {'accountType': 'Curr', 'balance': 2335, 'numyears': 5},
 'Stella': {'accountType': 'Sav', 'balance': 546, 'numyears': 23},
 'Mercy': {'accountType': 'Curr', 'balance': 9086, 'numyears': 12},
 'Chizulum': {'accountType': 'Inv', 'balance': 75, 'numyears': 2},
 'Clifford': {'accountType': 'Curr', 'balance': 7896, 'numyears': 5},
 'Boniface': {'accountType': 'Sav', 'balance': 356, 'numyears': 7},
 'Tosin': {'accountType': 'Inv', 'balance': 32678, 'numyears': 8}}

In [57]:
print(cust_dict)

{'accountType': 'Inv', 'balance': 32678, 'numyears': 8}

In [63]:
bankRecDict['Kenneth']

{'accountType': 'Curr', 'balance': 2335, 'numyears': 5}